---
title: Topics
---
<div>
  <h1 class="section-title">Topics</h1>

  <div> 

    <!-- chacking tags in handbook pages -->
    {% assign handbook_tags = site.handbook | map: 'tags' | uniq %}
    {% assign handbook_tags = handbook_tags | join: "," %}

    {% for tag in site.tags %}

      <!-- removing duplicates -->
      {% assign handbook_tags = handbook_tags | remove: tag[0] %}

      <h2 id={{ tag[0] }}>
        {{ tag[0] }}
      </h2>

      <ul>
        {% for post in tag[1] %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}

        {% for post in site.handbook %}
          {% if post.tags contains tag[0] %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}

      </ul>

    {% endfor %}


    <!-- printing tags which appear only in handbook -->
    {% assign handbook_tags = handbook_tags | split: "," %}

    {% for tag in handbook_tags %}

      <h2 id={{ tag }}>
        {{ tag }}
      </h2>

      <ul>
        {% for post in site.handbook %}
          {% if post.tags contains tag %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

    {% endfor %}
  </div>
</div>
