---
title: Topics
---
<h1>Topics</h1>

<!-- chacking tags in handbook pages -->
{% assign handbook_tags =  site.handbook | map: 'tags' | uniq %}
{% assign handbook_tags =  handbook_tags | join: "," %}

{% for tag in site.tags %}
  
  <!-- removing duplicates -->
  {% assign handbook_tags = handbook_tags | remove: tag[0] %}

  <p class="title_middle" id={{ tag[0] }}>
    {{ tag[0] }}
  </p>

  <ul class="titles_list">
    {% for post in tag[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}

    {% for post in site.handbook %}
      {% if post.tags contains tag[0] %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}

  </ul>
  
{% endfor %}


<!-- printing tags which appear only in handbook -->
{% assign handbook_tags =  handbook_tags | split: "," %}

{% for tag in handbook_tags %}

  <p class="title_middle" id={{ tag }}>
    {{ tag }}
  </p>

  <ul class="titles_list">
    {% for post in site.handbook %}
      {% if post.tags contains tag %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

{% endfor %}
