<aside>
<!--  <h1>{{ site.title }}</h1>  -->
  <!-- <h1><br /></h1> space for title, if needed in the future -->
  <div class="table">
    
  <img src="{{ site.avatar }}" alt="Avatar" class="avatar">
  </div>
  
  <div class="table">
    <ul id="social">
      <li>
        <a href="https://twitter.com/AlbertRtk_">
          <img src=/assets/images/icons/twitter.png alt="Twitter" class="social">
        </a>
      </li>
      <li>
        <a href="https://github.com/AlbertRtk">
          <img src=/assets/images/icons/github.png alt="Twitter" class="social">
        </a>
      </li>
    </ul>
  </div>
    
  <ul>
    {% for item in site.data.aside %}
      <li>
        <a href="{{ item.link }}" {% if page.url == item.link %} class="current" {% endif %}>{{ item.name }}</a>
      </li>
    {% endfor %}
  </ul>

</aside>
