<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>

  <body>
    <div class="wrapper">

      <nav>
        <ul>
          <li><a href="/#start">HOME</a></li>
          <li><a href="/#about">ABOUT</a></li>
          <li><a href="/#blog">BLOG</a></li>
          <li><a href="/#contact">CONTACT</a></li>
        </ul>
      </nav>

      <section>
        {{ content }}
      </section>

      <footer class="gray-background">
        Copyright &copy; 2021 Albert Ratajczak
      </footer>
      
    </div>
  </body>

</html>